[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
seaborn = {extras = ["stats"], version = "*"}
ipywidgets = "*"
scikit-plot = "*"
opencv-python = "*"
bqplot = "*"
plotly = "*"
markdown = "*"
tensorflow = "*"
xgboost = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "*"
